<div>My water calendar</div>
<div></div>
<a href="/myplants/userId"><button>View all your plants</button></a>
<a href="/takeapic"><button>Add new plants</button></a>
<a href="/">
  <button>home</button></a>


<div class='calContainer'>
  <div class='month'>
    <a href='#' class='nav prev'>
      <</a> February <a href='#' class='nav next'>>
    </a>
  </div>
  <div class='calender'>
    <table>
      <tr class='week'>
        <th>Mo</th>
        <th>Tu</th>
        <th>We</th>
        <th>Th</th>
        <th>Fr</th>
        <th>Sa</th>
        <th>Su</th>
      </tr>
      <tr>
        <td class='grey'>27</td>
        <td class='grey'>28</td>
        <td class='grey'>29</td>
        <td>30</td>
        <td>31</td>
        <td>1</td>
        <td>2</td>
      </tr>
      <tr>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td class='today'>7</td>
        <td>8</td>
        <td>9</td>
      </tr>
      <tr>
        <td>10</td>
        <td>11</td>
        <td>12</td>
        <td>13</td>
        <td>14</td>
        <td class='reminder'>15
        <td>16</td>
      </tr>
      <tr>
        <td>17</td>
        <td>18</td>
        <td class='reminder'>19</td>
        <td>20</td>
        <td>21</td>
        <td>22</td>
        <td>23</td>
      </tr>
      <tr>
        <td>24</td>
        <td>25</td>
        <td>26</td>
        <td>27</td>
        <td>28</td>
        <td>29</td>
        <td class='grey'>1</td>
      </tr>
    </table>
  </div>
</div>