<div>My water calendar</div>
<div></div>
<a href="/myplants/userId"><button>View all your plants</button></a>
<a href="/takeapic"><button>Add new plants</button></a>
<a href="/">
  <button>home</button></a>