<script src="/javascripts/camera.js"></script>

<div class="contentarea">
  <h1>
    Hi {{user.username}}!
  </h1>

  {{!-- FILE UPLOAD --}}
  <div class="fileupload">
    <h2>Please uplod a picture of your plant.</h2>
    <form action="/test" method="get" enctype="multipart/form-data">
      <div>
        <label for="file">Choose file to upload</label>
        <input type="file" id="file" name="file" onchange="previewFile()" />
        <img src="#" height="200" alt="Image preview...">
      </div>
      <div>
        <button>Submit</button>
      </div>
    </form>
  </div>


  {{!-- CAMERA --}}



  <div class="camera">
    <h2>Take a picture of your plant</h2>
    <video id="video">Video stream not available.</video>
    <button id="startbutton">Take photo</button>
  </div>
  <canvas id="canvas">
  </canvas>
  {{!-- <div class="output">
    <img id="photo" alt="Plant picture.">
  </div> --}}
  <a href="/"> <button id="back">Back</button></a>
  <a href="/takeapic"> <button type="reset" id="reset">Reset</button></a>
  <a href="/plantInfo"> <button id="info">Find Plant</button></a>
</div>