<script src="/javascripts/camera.js"></script>
<div class="contentarea">
  <h1>
    Hi {{user.username}}!
    Take a picture of your plant
  </h1>

  <div class="camera">
    <video id="video">Video stream not available.</video>
    <button id="startbutton">Take photo</button>
  </div>
  <canvas id="canvas">
  </canvas>
  {{!-- <div class="output">
    <img id="photo" alt="Plant picture.">
  </div> --}}
  <a href="/"> <button id="back">Back</button></a>
  <a href="/takeapic"> <button type="reset" id="reset">Reset</button></a>
  <a href="/plantInfo"> <button id="info">Find Plant</button></a>
</div>