{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}
<h1>Hello</h1>
<h2>Please log in, so we can help you find your plant</h2>
{{!-- //{{#if user.username}} --}}
<a href="/takeapic"><button>Take a picture</button></a>
{{!-- {{/if}} --}}